@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family: "Poppins", sans-serif;
}

:root {
  
  --white-colour: #FFFFFF;
  --dark-colour: #252525;
  --primary-colour:#6247aa; 
  --secondory-colour: #FFFFFF;
  --lila-color: #c19ee0;

  --font-size-s:0.9rem;
  --font-size-n: 1rem;
  --font-size-m:1.12rem;
  --font-size-l:1.5rem;
  --font-size-xl:2rem;
  --font-size-xxl:2.3rem;

  
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m:30px;
  --border-radius-circle: 50%;

  --site-max-width:1300px;
}




ul{
  list-style: none;
}

a {
  text-decoration: none;

}


img {
  width:100%;

}
.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

header {
  position: fixed;
  width: 100% ;
  z-index: 5; 
  background: var(--primary-colour);
}

h2 {
  color:#FFFFFF
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .nav-logo .-logo-text{
  color: var(--secondory-colour);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
  display: flex;
  gap: 100px;

}
.navbar .nav-menu .nav-link {
  padding: 10px 18px;
color: var(--secondory-colour);
font-size: var(--font-size-m);
border-radius: var(--border-radius-m);
transition: 0,3s ease;

}
.navbar .nav-menu .nav-link:hover{
background: var(--lila-color);
color: var(--primary-colour);
} 

.hero-section{
  min-height: 100vh;
background: var(--primary-colour);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: #FFFFFF;
  justify-content: space-between;
}

 .hero-section .hero-details .title{
  font-size: var(--font-size-xxl);
  color: var(--secondory-colour);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}
.image {
  width: 525px;
 
}
.carousel{
  margin: auto;
  width: 100%;
  border: 5px solid var(--primary-colour);
  display: flex;
  overflow-x: auto;
  gap: 1em;
  background-color: var(--primary-colour);
}
.carousel::-webkit-scrollbar {
  display: none;
}
.card{
 

  padding: 1em;
  font-size: 3rem;
  text-align: center;
  align-content: center; 
  flex: 0 0 10em; 
  height: 10em;
  border-radius: .5em;
   
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 5s infinite linear;
  padding: 1em;
}

@keyframes spin {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}

  
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
  }

.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.2);
  transition: transform 2s ease;
}

.carousel{

  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 70vh;
}

  @keyframes text-appear {
from {opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY();
    }

  }

  
footer {
  color: var(--secondory-colour);
font-size: var(--font-size-m);
align-items: center;
 background: var(--lila-color);

}
footer :hover{
  background: var(--primary-colour);
color: var(--white-colour);

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer :hover{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;


}

.Afbeelding-hobby{
  width: 400px;
  animation: bounce 0.7s cubic-bezier(0.49,0,0.89,0.74) infinite alternate;
}





@keyframes bounce{
  0% {
    transform: translateY(0px);
  }
  75%{

  }
  90%{

  }
  100%{
    transform: translateY(320px);
  }
}

.scene {
  height: 300vh; 
  background-color: var(--primary-colour);
}

table {
  width: 110%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  text-align: right;
  float: right;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: var(--primary-colour);
  color: var(--secondory-colour);
  font-weight: var(--font-weight-bold);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.kleurverandering{
   background: linear-gradient(to bottom, #6247aa 0%, #000 100%);
   height: 200vh;
}
.space{
background-color: #000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family: "Poppins", sans-serif;
}

:root {
  
  --white-colour: #FFFFFF;
  --dark-colour: #252525;
  --primary-colour:#6247aa; 
  --secondory-colour: #FFFFFF;
  --lila-color: #c19ee0;

  --font-size-s:0.9rem;
  --font-size-n: 1rem;
  --font-size-m:1.12rem;
  --font-size-l:1.5rem;
  --font-size-xl:2rem;
  --font-size-xxl:2.3rem;

  
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m:30px;
  --border-radius-circle: 50%;

  --site-max-width:1300px;
}




ul{
  list-style: none;
}

a {
  text-decoration: none;

}


img {
  width:100%;

}
.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

header {
  position: fixed;
  width: 100% ;
  z-index: 5; 
  background: var(--primary-colour);
}

h2 {
  color:#FFFFFF
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar .nav-logo .-logo-text{
  color: var(--secondory-colour);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
  display: flex;
  gap: 100px;

}
.navbar .nav-menu .nav-link {
  padding: 10px 18px;
color: var(--secondory-colour);
font-size: var(--font-size-m);
border-radius: var(--border-radius-m);
transition: 0,3s ease;

}
.navbar .nav-menu .nav-link:hover{
background: var(--lila-color);
color: var(--primary-colour);
} 

.hero-section{
  min-height: 100vh;
background: var(--primary-colour);
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: #FFFFFF;
  justify-content: space-between;
}

 .hero-section .hero-details .title{
  font-size: var(--font-size-xxl);
  color: var(--secondory-colour);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}
.image {
  width: 525px;
 
}
.carousel{
  margin: auto;
  width: 100%;
  border: 5px solid var(--primary-colour);
  display: flex;
  overflow-x: auto;
  gap: 1em;
  background-color: var(--primary-colour);
}
.carousel::-webkit-scrollbar {
  display: none;
}
.card{
 

  padding: 1em;
  font-size: 3rem;
  text-align: center;
  align-content: center; 
  flex: 0 0 10em; 
  height: 10em;
  border-radius: .5em;
   
}

.group{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 5s infinite linear;
  padding: 1em;
}

@keyframes spin {
  from {transform: translateX(0);}
  to {transform: translateX(-100%);}

  
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
  }

.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.2);
  transition: transform 2s ease;
}

.carousel{

  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 10% cover 70vh;
}

  @keyframes text-appear {
from {opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY();
    }

  }

  
footer {
  color: var(--secondory-colour);
font-size: var(--font-size-m);
align-items: center;
 background: var(--lila-color);

}
footer :hover{
  background: var(--primary-colour);
color: var(--white-colour);

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer :hover{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;


}

.Afbeelding-hobby{
  width: 400px;
  animation: bounce 0.7s cubic-bezier(0.49,0,0.89,0.74) infinite alternate;
}





@keyframes bounce{
  0% {
    transform: translateY(0px);
  }
  75%{

  }
  90%{

  }
  100%{
    transform: translateY(320px);
  }
}

.scene {
  height: 300vh; 
  background-color: var(--primary-colour);
}

table {
  width: 110%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
  text-align: right;
  float: right;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: var(--primary-colour);
  color: var(--secondory-colour);
  font-weight: var(--font-weight-bold);
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.kleurverandering{
   background: linear-gradient(to bottom, #6247aa 0%, #000 100%);
   height: 200vh;
}
.space{
background-color: #000;
}

.eindtekst{
   font-size: var(--font-size-s);
  color: var(--secondory-colour);
  font-family: "Poppins", sans-serif;
  font-weight: var(--font-weight-semibold);
  height: 50vh;
  background-color: #000;
}

.robot{
width: 100%;
align-items: center;
margin: 0px;
height: 80vh;
}