@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
  font-family: "Playfair Display", serif;
}

:root {
  / Kleuren /
  --white-colour: #FFFFFF;
  --dark-colour: #252525;
  --primary-colour:#6247aa; 
  --secondory-colour: #CFCFE6;

  / fonts groote /
  --fonts-weight-normal: 400;
  --fonts-weight-medium: 500;
  --fonts-weight-semibold: 600;
  --fonts-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m:30px;

  


}
header