:root {
  /* kleuren */
  --color-bg: #ffffff;  
  --color-primary: #000000; 
  --color-secondary: #c19ee0; 
  --color-text: #000000; 

  /* letterypes */
   --font-main: 'Playfair Display', serif;
  --font-heading: serif; 
}

header{
  grid-area:  header;
   grid-area: header;
  background-color: var(--color-primary);
  color: white;
  font-family: 'Playfair Display'(--font-heading);
  text-align: center;
  padding: 20px;
}
nav {
  grid-area: nav; 
}
main{
  grid-area: main; 
}
footer{
  grid-area:footer; 
}
article {
  flex: 0 0 20%;
}
